$background-color-container: #00a7d0;

h2{
  text-align: center;
  text-transform: uppercase;
}


/* как мы работаем */
  .services {
    .wrap {
      position: relative;
      height: 315px;
      background: url(../images/hww.png) no-repeat center 115px;
    }
    h2 {
      margin-bottom:55px;
    }

    .wrap {
      position:relative;
      height:315px;
      background:url(../images/hww.png) no-repeat center 115px;
    }

    .hww_one {
      font-size:16px;
      color:#3b3b3b;
      line-height:18px;
      text-align:center;
    }

    .hww_one span {
      display:block;
      text-transform:uppercase;
      color:#065c99;
      font-size:22px;
      font-family:'pt_bold';
      line-height:22px;
    }

    .hww_text {
      padding:15px 0 5px 0;
      border-radius:5px;
      border:#f1bd5a dashed 1px;
    }

    .hww_text span {
      font-size:26px;
      line-height:26px;
    }

    .hb {
      background:url(../images/ho.png) no-repeat center top;
      padding-top:60px;
    }

    .ht {
      background:url(../images/ho.png) no-repeat center bottom;
      padding-bottom:65px;
    }

    .s1 {
      position:absolute;
      top:102px;
      padding-top:43px;
    }

    .s2 {
      position:absolute;
      top:1px;
      left:130px;
    }

    .s3 {
      position:absolute;
      top:103px;
      left:340px;
    }

    .s4 {
      position:absolute;
      top:1px;
      left:590px;
    }

    .s5 {
      position:absolute;
      top:103px;
      right:45px;
    }
  }

  /* счетчиек выполненных работ */
  .counts{
    background-color:$background-color-container;
    padding:15px 0;
    .container > div {
      padding: 0;
      height: 80px;
      margin: 0 auto;
    }
    span{}
    span:first-child{
      font-size: 70px;
      display: block;
      float: left;
      line-height: 0.9em;
      padding-right: 10px;
    }
  }

  /* Все еще не решились отдать свое авто в сервис? */
  .privilege{
    .fa{
      color: #FF0000;
      text-shadow: 1px 1px #FF0000;
    }
    h2{
      color: #004a77;
      text-shadow: 0px 1px 1px #fff;
      letter-spacing: 2px;
      margin-bottom: 40px;
    }
    table{
      width: 100%;
      tr{
        height: 70px;
        td {
          padding: 0 10px 10px 10px;
          vertical-align: top;
        }
      }
    }
    .rq{
      text-align: right;
    }
    .ra{
      text-align: left;
    }
  }

  /* Почему 3000 наших клиентов выбрало нас?? */
  .advantages{
    background-color: $background-color-container;
    color: #fff;
    h2{
      padding: 10px 0 50px 0;
      font-size: 44px;
      line-height: 44px;
      text-shadow: 0px 2px 1px rgba(0,0,0,0.38), 2px 2px 2px #d27a03;
    }
    @mixin advantages-image($i){
      background: url('../images/w' + $i + '.png') no-repeat top center;
      text-align: center;
      padding: 175px 0 30px 0;
    }
    span {
      color: #0a2b1d;
      display: block;
      line-height: 24px;
      font-family: "Tahoma", "sans-serif";
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .w1{@include advantages-image(1)}
    .w2{@include advantages-image(2)}
    .w3{@include advantages-image(3)}
    .w4{@include advantages-image(4)}
    .w5{@include advantages-image(5)}
    .w6{@include advantages-image(6)}
    .w7{@include advantages-image(7)}
  }


.button-callback {
  display: block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
  0 6px rgb(86,38,6),
  0 3px 15px rgba(0,0,0,.4),
  inset 0 1px rgba(255,255,255,.3),
  inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;

  //display: block;
  /* height: 55px; */
  font-size: 20px;
  font-family: 'pt_bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  /* color: #fff; */
 // text-shadow: 0px 1px 0px #a86f05;
  text-align: center;
  margin: 10px auto 0 auto;

  :hover {
    background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
  }
  :active {
    background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
    box-shadow:
    0 2px rgb(86,38,6),
    0 1px 6px rgba(0,0,0,.4),
    inset 0 1px rgba(255,255,255,.3),
    inset 0 0 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
  }
}